---
layout: default
title: Classes
---

<section>

	<div class="center">
		<h1 class="title">Classes</h1>
	</div>

	<div class="divider"></div>

	{% assign sorted = (site.classes | sort: term) | reverse %}
	{% for post in sorted %}
		{% unless post.next %}
			<h3 class="code">{{ post.acayear}}</h3>
		{% else %}
			{% capture year %}{{ post.acayear}}{% endcapture %}
			{% capture nyear %}{{ post.next.acayear}}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.acayear}}</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<div class="post-date code">
					<span>{{ post.title }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
						<img src="{{ post.imageurl }}" alt="{{ post.alt }}" style="width: 100%;">
					</a>
				</div>
			</li>
		</ul>

	{% endfor %}

</section>
