---
layout: default
---

<section>

<p>Assistant Professor of Computer Science at <a href="https://www.lawrence.edu/academics/college/computer-science">Lawrence University</a>. See <i>About</i> for more.</p>

<p>I regularly teach CMSC 140: Intro to Programming with Python, CMSC 150: Intro to Computer Science, and CMSC 270: Data Structures, along with upper-level courses in theory and algorithm design. See <i>Classes</i> for current course websites and past syllabi.</p>

<p>My research is in developing computational models to study evolutionary phenomena. I am also interested in developing new methods of <i>data interaction</i> (a broader term for data visualization that takes into account non-visual forms of qualitative sense-making. See <i>Research</i> for current projects, published work, and information on undergraduate research. </p>

<p>Students looking for guidance on their Senior Experience Projects should see the <i>Senior Experience</i> tab. 

<p>Office Hours Winter 2023: <b>11 AM - 12 PM MTWRF</b></p>

<div class="divider"></div>

</section>

<section>

	<div class="center">
		<h1 class="title">Recent Activites</h1>
	</div>

	<div class="divider"></div>

	{% assign sorted = ((site.documents | sort: date) | reverse) %}
	{% assign recent_activities = "" | split: "/" %}
	{% for post in sorted limit:5 %}
		{% assign recent_activities = recent_activities | push: post %}
	{% endfor %}
	{% assign recent_activities = (recent_activities | group_by: "type") %}
	{% for group in recent_activities %}
		{% assign anitem = group.items | first %}
		<h3 class="code" style="text-transform: capitalize;">{{ anitem.type }}</h3>
		{% for item in group.items %}
			<ul>
				<li>
					<div class="title">
						<a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}">
							<img src="{{ item.imageurl }}" alt="" style="width: 100%;">
							{{ item.title }}
						</a>
					</div>
				</li>
			</ul>
    {% endfor %}
	{% endfor %}

</section>
